################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SensorGraph/.vs/SensorGraph/FileContentIndex/055e0c83-a4e7-4f13-a25a-39a899360efa.vsidx
/SensorGraph/.vs/SensorGraph/FileContentIndex/fb275600-0a07-4306-8bf2-e06c81f282b6.vsidx
/SensorGraph/.vs/SensorGraph/FileContentIndex/0b11fe0d-eb74-40ab-bbb9-36cfb0d21519.vsidx
/SensorGraph/.vs/SensorGraph/FileContentIndex/20f90692-75c3-4cea-8fc2-8fc11e67d74d.vsidx
/SensorGraph/.vs/SensorGraph/FileContentIndex/35e12c25-7fd8-41e8-9309-693bcdd23a3f.vsidx
/SensorGraph/.vs/SensorGraph/FileContentIndex/5448c32b-d55f-484e-8ee1-d1b7b0edc4c3.vsidx
/SensorGraph/.vs/SensorGraph/FileContentIndex/a07e9c0a-9229-4640-9939-62a74d15f812.vsidx
/SensorGraph/.vs/SensorGraph/FileContentIndex/edbcf196-3c3f-4cdb-aa74-27c7123de34e.vsidx
/SensorGraph/.vs/SensorGraph/v17/.suo
